In [45]:

# data structures on list
fruits = ['apple', 'banana', 'cherry','apple']
print(fruits.count('apple'))
fruits.append('grape')
          
print(fruits)  # ['apple', 'banana', 'cherry', 'grape']

fruits.sort()
print(fruits)  # ['apple', 'banana', 'cherry', 'grape']
print(fruits.reverse())

print(fruits.pop())  # 'grape'
print(fruits)  # [

2
['apple', 'banana', 'cherry', 'apple', 'grape']
['apple', 'apple', 'banana', 'cherry', 'grape']
None
apple
['grape', 'cherry', 'banana', 'apple']

In [29]:
# using lists as stacks(first in first last out)
stack = [1, 2, 3]
stack.append(4) 
stack.append(5)
print (stack)# Push
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())

# 4 (Last in, first out)

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]
4
[1, 2, 3]
3
[1, 2]
2
[1]
1

In [21]:
# Using Lists as Queues--FIFO(First in -First out)
from collections import deque
queue=deque(["Eric","john","Michael"])
queue.append("Afework")
queue.append("Beta")
print(queue)
queue.popleft()

deque(['Eric', 'john', 'Michael', 'Afework', 'Beta'])

'Eric'

In [7]:
# List comprehesions
squares = [x**2 for x in range(5)]
print(squares)  # [0, 1, 4, 9, 16]

evens = [x for x in range(10) if x % 2 == 0]
print(evens)  # [0, 2, 4, 6, 8]

pairs = [(x, y) for x in [1,2,3] for y in [4,5,6] if x != y]
print(pairs)  # [(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8]
[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]
deque(['Eric', 'john', 'Michael'])

'john'

In [98]:
from typing import List, Tuple

def generate_squares(n: int) -> List[int]:
    """
    Generate a list of squared numbers from 0 to n-1.
    
    Args:
        n (int): Upper bound (exclusive) for the range.
    
    Returns:
        List[int]: List of squared numbers.
    """
    return [x**2 for x in range(n)]

def get_even_numbers(n: int) -> List[int]:
    """
    Generate a list of even numbers from 0 to n-1.
    
    Args:
        n (int): Upper bound (exclusive) for the range.
    
    Returns:
        List[int]: List of even numbers.
    """
    return [x for x in range(n) if x % 2 == 0]

def generate_pairs(first_seq: List[int], second_seq: List[int]) -> List[Tuple[int, int]]:
    """
    Generate pairs of numbers where the first and second numbers are different.
    
    Args:
        first_seq (List[int]): First sequence of numbers.
        second_seq (List[int]): Second sequence of numbers.
    
    Returns:
        List[Tuple[int, int]]: List of pairs where x != y.
    """
    return [(x, y) for x in first_seq for y in second_seq if x != y]

# Example usage:
print(generate_squares(5))  # [0, 1, 4, 9, 16]
print(get_even_numbers(10))  # [0, 2, 4, 6, 8]
print(generate_pairs([1, 2, 3], [4, 5, 6]))  # [(1, 4), (1, 5), (1, 6), ...]

[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8]
[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [38]:
combs=[]
for x in [1,2,3]:
    for y in [3,1,4]:
   # if x != y:
        combs.append((x,y))
combs

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [92]:
vec=[-4,-2,-1,4,6,8]
#[x for x in vec if x>=0]
[abs(x) for x in vec]   
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [94]:
# The del statement
nums = [1, 2, 3, 4]
del nums[2]  # Removes 3
print(nums)  # [1, 2, 4]

del nums[:]  # Clears list
print(nums)  # []

[1, 2, 4]
[]

In [96]:
# Tuples and sequences
t = (10, 20, "hello")    # Create a tuple with mixed data types (integers and string)
print(t[1])              # Access second element of tuple using index 1

# Packing and unpacking
a, b, c = t              # Unpack tuple values into individual variables
print(a, b, c)          # Print the unpacked values

20
10 20 hello

In [100]:
# Set operations
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(a | b)  # Union: {1, 2, 3, 4, 5, 6}
print(a & b)  # Intersection: {3, 4}
print(a - b)  # Difference: {1, 2}
print(a ^ b)  # Symmetric Difference: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [102]:
# Dictionaries
data = {'name': 'Alice', 'age': 25}
data['city'] = 'New York'
print(data)  # {'name': 'Alice', 'age': 25, 'city': 'New York'}

print(data.keys())  # dict_keys(['name', 'age', 'city'])
print(data.values())  # dict_values(['Alice', 25, 'New York'])
print(data.items())  # dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

{'name': 'Alice', 'age': 25, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])
dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [106]:
# Looping Techniques
# Looping Through Dictionaries

# Iterate through key-value pairs in the data dictionary using .items() method
# key variable stores the dictionary key, value variable stores the corresponding value
for key, value in data.items():
    # Print both the key and value on each iteration
    print(key, value)

name Alice
age 25
city New York

In [114]:
# Looping Techniques
# Enumerate (Index + Value)
# Using enumerate() to loop through a list while getting both index and value
# i will contain the index (0,1,2), v will contain the values ('a','b','c')
for i, v in enumerate(['a', 'b', 'c']):
    print(i, v)  # Print both index and value for each iteration

0 a
1 b
2 c

In [124]:
# Using reversed() to iterate through a range in reverse order
# Note: This code has a syntax error as range() takes 1-3 arguments, not 4
# Correct usage would be range(start, stop, step)
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1